params {
    container = 'katetran/dockstore-tool-helloworld:latest'
}

process {
    withName:parameterizedDocker {
        container = "$params.container"
    }
    withName:latestDocker {
        container = 'katetran/dockstore-tool-helloworld:latest'
    }
    withName:versionedDocker {
        container = 'katetran/dockstore-tool-helloworld:1'
    }
    withName:taglessDocker {
        container = 'katetran/dockstore-tool-helloworld'
    }
    withName:digestDocker {
        container = 'katetran/dockstore-tool-helloworld@sha256:0484449b6bdd6e39a34f630a86e18253f6b88899d64faa652c926e90001c84d4'
    }
}

docker {
    enabled = true
}
